div#cell {
  font-size: xx-large;
  width: 50px;
  height: 50px;
  position: relative;
}

div#cell:focus {
  outline: none;
}

div#cell.highlighted {
  background-color: darkred;
  border-radius: 100%;
  color: darkgray;
}

div#cell.selected {
  background-color: purple;
  border-radius: 100%;
  color: darkgray;
}

p#cell-content {
  margin: 7px 0px 0px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
