input {
  text-align: center;
  height: 100%;
  width: 100%;
}

input.selected {
  background-color: #ebdbb2;
  color: #282828;
}

input.highlighted {
  background-color: #cd241d;
  color: #ebdbb2;
}
