div#sudoku {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 528px;
  height: 528px;
}

div#sudoku app-subgrid {
  margin: 2px;
  width: 174px;
  height: 174px;
}

div#sudoku app-subgrid.border-right {
  border-right: 2px solid darkgray;
}

div#sudoku app-subgrid.border-bottom {
  border-bottom: 2px solid darkgray;
}
